<div *ngIf="products.length > 0">
  <div class="panel panel-success">
    <div class="panel-heading">
      <span class="heading">
        Cart
      </span>
      <span class="total">
        Total: {{total}}
      </span>
    </div>
    <div class="panel-body">
      <app-cart-item *ngFor="let product of products | orderedBy : 'price' : true" [product]="product" (removeProduct)="removeProduct($event)" (updateTotal)="updateTotal()"></app-cart-item>
    </div>
    <div>
      <input type="button" value="Remove all" (click)="clearCart()" class="btn btn-warning btn-remove-all" />
    </div>
  </div>
</div>
