<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div>
  <app-cart></app-cart>
</div>
<div *ngFor="let product of products">
  <h2>
    Product info: 
  </h2>
  <h5>Name: {{product.name}}</h5>
  <h5>Description: {{product.description}}</h5>
  <h5>Price: {{product.price}}</h5>
  <h5>Category: {{product.category}}</h5>
  <h5>Available: {{product.isAvailable}}</h5>
  <h5>Ingredients:</h5>
    <div *ngFor="let ingredient of product.ingredients"><span>{{ingredient}}</span></div>
  <h5>Equivalents:</h5>
    <div *ngFor="let equivalent of product.equivalents"><span>{{equivalent}}</span></div>
  <input type="button" value="Buy" (click)="onBuy(product.name)">
</div>